form {
  background: #fff;
  padding: 1em;
}

form .field {
  display: flex;
  flex-direction: column;
}

form label {
  padding: 0.5em;
}

form select,
form input {
  margin: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #ad1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 0.5em;
}

@media screen and (min-width: 600px) {
  form {
    width: 25em;
  }

  form .field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  form label {
    text-align: right;
  }

  form button {
    margin-top: 0;
  }
}
